.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  select {
    font-size: 16px;
    padding: 5px;
  }
  